Options +FollowSymLinks
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

	 RewriteEngine on
	 RewriteBase /

	 RewriteCond $1 !^((api.*))
	 RewriteCond %{REQUEST_FILENAME} !-f
	 RewriteCond %{REQUEST_FILENAME} !-d
	 RewriteRule ^(.*)$ /index.php/$1 [L,QSA]

	 RewriteCond %{REQUEST_FILENAME} -s [OR]
	 RewriteCond %{REQUEST_FILENAME} -l [OR]
	 RewriteCond %{REQUEST_FILENAME} -d
	 RewriteRule ^.*$ - [NC,L]
	 RewriteRule ^.*$ /api.php/$1 [NC,L]

</IfModule>
