<p>
    Sign in
    <br>
    Please choose your country and enter your full phone number.
</p>
<form class="example-form">

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="First name">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Long Last Name That Will Be Truncated">
                </md-input-container>
            </td>
        </tr>
    </table>

</form>
