<p>
  Sign in
  <br>
  Please choose your country and enter your full phone number.
</p>
<form>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td colspan="3" (click)="selectCountry()" class="select-country">

        <md-input-container class="full-width">
          <input mdInput placeholder="Country" class="select-country" name="country_name" [(ngModel)]="country_name">
        </md-input-container>

      </td>
    </tr>
    <tr>
      <td width="80">
        <md-input-container class="full-width">
          <input mdInput placeholder="Code" name="code" [(ngModel)]="country_code" (keyup)="changeCode()" class="code-input" autofocus>
        </md-input-container>
      </td>
      <td>
        <md-input-container class="full-width">
          <input mdInput placeholder="Phone number" name="phone_number" [(ngModel)]="phone_number">
        </md-input-container>
      </td>
    </tr>
  </table>
</form>
